# Build e instaladores
bin/installer/
target/
out/
build/
*.jar
*.msi
*.exe

# SEGREDOS - nunca subir
token
token.txt
.env
*.env
**/*secret*
**/credentials*

# IDE
.idea/
*.iml
.vscode/
.DS_Store
token
token.txt
.env
users.txt
token
application.properties

# --- LIXO DA IDE (Eclipse) ---
.settings/
.externalToolBuilders/
.classpath
.factorypath
.project
.sdkmanrc

# --- DADOS LOCAIS ---
users.txt
token
token.txt
.env

# --- BUILD ---
bin/installer/
target/
out/
*.jar
*.msi
